///////////
// Nav Bar
//////////
.call-color {
    background-color: rgb(70, 148, 243);
}


///////////
// Home
/////////
.check-box {
    height: 18px !important;
    width: 21px !important;
}

//////////
// About
////////


///////////
// Work //
/////////


///////////
// Process
//////////
.process-image-styles {
    width: 60px;
    height: 60px;
}

