.App {
  text-align: center;
}


///////////////////////////////////////
////////////// Nav Bar  //////////////
/////////////////////////////////////

.nav-bar {
display: flex;
flex-direction: row;
padding: 3vw 10vw;


.nav-title {
  font-size: 14px;
  font-family: Helvetica;
}
}